<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="com.offcn.pojo.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ksrq" jdbcType="VARCHAR" property="ksrq" />
    <result column="kss" jdbcType="INTEGER" property="kss" />
    <association property="teacher" javaType="teacher"
			column="tid" select="getTeacherInfo"/>
    <association property="student" javaType="student" 
    		column="sid" select="getStudentInfo"/>
  </resultMap>
  
  <select id="getStudentInfo" resultType="student">
  	select * from student where id=#{sid}
  </select>
  
  <select id="getTeacherInfo" resultType="teacher">
  	select * from teacher where id=#{tid}
  </select>
  
  <select id="getRecordPager" resultMap="BaseResultMap">
    select * from record 
    <where>
    	<if test="kssj!=null">
    		and date_format(ksrq,'%Y%m')&gt;=#{kssj}
    	</if>
    	<if test="jssj!=null">
    		and date_format(ksrq,'%Y%m')&lt;=#{jssj}
    	</if>
    	<if test="tid!=null">
    		tid=#{tid}
    	</if>
    </where>
    limit #{skip},#{size}
  </select>
  
  <select id="getCount" resultType="int">
    select count(*) from record 
  </select>
  
   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.offcn.pojo.Record">
    insert into record (id, kss, ksrq, 
      tid,sid
      )
    values (#{id,jdbcType=INTEGER}, #{kss,jdbcType=INTEGER}, #{ksrq,jdbcType=VARCHAR}, 
      #{teacher.id,jdbcType=INTEGER}, #{student.id,jdbcType=INTEGER}
      )
  </insert>
  
   <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  
</mapper>