<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
	<!-- 设置别名为默认的类名 -->
	<typeAliases>
		<package name="com.exercise.domain"/>
	</typeAliases>
	
	<!-- 加载pagehelper分页插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor"/>
	</plugins>
</configuration>